@font-face {
    font-family: 'bebas';
    src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'oswald';
    src: url(../font/Oswald-VariableFont_wght.ttf);
}


.img{
    width: 300px;
    height: 120px;
    object-fit: contain;
}
h1{
    background-color: black;
    color: white;
     font-family: 'bebas';
}

h5{
    font-family: 'oswald';
}
